<div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <article class="panel panel-default">
          <div class="panel-body">
            {{ messageVarClass.content }}
            {{ messageVarClassAlias.content }}
          </div>
          <footer class="panel-footer">
            <div class="author">
            {{ messageVarClass.username }}
            {{ messageVarClassAlias.username }}
            </div>
            <div class="config">
              <a href="#">Edit</a>
              <a href="#">Delete</a>
            </div>
          </footer>
  
        </article>
  
      </div>
    </div>
  </div>